<script type="text/javascript">

$("#grade_input").click(function() {
        angular.element('#grade_input').scope().open("/grade/input");
    });
</script>

<div class="panel panel-style">
    <div class="panel-body">
        <div class="title-tag">
            <h3>课程信息</h3>
            <p>课程信息</p>
        </div>

        <div class="grid-tools">
            <div class="grid-operate pull-left">
                <button class="btn btn-blue" type="button" id="grade_input" ng-controller="GradeModalCtrl">成绩录入</button>
                <!-- <button class="btn btn-blue" type="button" id="pool_delete_button">删除</button> -->
            </div>
        </div>

        <div id="grid_course_available" class='grid-body'>
            <table id="course_available_tb"></table>
        </div>

    </div>
</div>
