
<div calss="info_input">


    <div>
        <form action="/grade/deal" method="POST" enctype="multipart/form-data">
            <div class="tableinfo">
        <div>
                <span>课程开始列 </span><input type="text" name="course_col_start">
        </div>
            <div>
                <span>课程结束列</span><input type="text" name="course_col_end">
        </div>
                <div>
                <span>表格起始行</span><input type="text" name="table_row_start">
        </div>
                   <div>
                    <span> 表格结束行</span>
        <input type="text" name="table_row_end">
        </div>
                <div>
                <span>学号偏移</span>
        <input type="text" name="number_offset">
        </div>
                <div>
                <span>名字偏移</span>
        <input type="text" name="name_offset">
                    </div>
    </div>
            <div>
            <span>学院</span>
            <input type="text" name="college">
            </div>
            <div>
                <span>专业</span>
            <input type="text" name="subject">
            </div>
            <div>
                <span>班级</span>
            <input type="text" name="class_">
           </div>
            <div>
            <span>学期</span>
           <input type="text" name="semester">
            </div>
            <div>
                <span>上传成绩</span><input type="file" name="file">
            </div>
            <div>
             <input type="submit" value="提交">
                </div>
        </form>
    </div>
</div>
